*/src/main/resources/META-INF/MANIFEST.MF
*/src/test/resources/META-INF/TEST.MF
junit*.properties
target/
build/
bin/
.gradle/
.settings/
.classpath
.project
.springbeans
integration-repo
ivy-cache
derby.log
.ant-targets-build.xml
com.cenqua.clover.core.prefs
user-ivy.properties
.DS_Store
